<!DOCTYPE html>
    <html>
      <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <script type="text/javascript" src="./footerFixed.js"></script>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      </head>


    <body>

      <!--<form class="bg-home d-flex align-items-center w-150 h-150">-->
              <div class="container my-5 py-5 my-5 py-5">
                <%#= render "public/shared/error_messages", resource: resource %>
                <% if @customer.errors.any? %>
                <div id="error_explanation" class="alert alert-danger">
                <ul>
                  <% @customer.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                  <% end %>
                </ul>
                </div>
                <% end %>


                <div class="row">
                  <div class="col-11 col-lg-5 jumbotron bg-transparent mx-auto mt-4" style="box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2)">
                    <div class="text-center">
                      <%= image_tag 'pro.png', width: '55%', height: '55%',class: "mb-3" %>
                      <br>
                        <%= form_with model: @customer, url: information_path, method: :patch do |f| %>
                            <div class="form-group form-group-lg">
                               <%= f.text_field :name, autofocus: true, class: "form-control " %></br>
                            </div>
                            <div class="form-group form-group-lg">
                               <%= f.email_field :email, autofocus: true, class: "form-control" %></br>
                            </div>
                            <div class="form-group form-group-lg pt-3">
                               <%= f.submit 'プロフィール更新',class: "btn  btn-outline-secondary" %><%= link_to "退会する", quit_path, class: "btn btn-outline-secondary ml-5" %>
                            </div>
                        <%end%>
                   </div>
                  </div>
                </div>
              </div>
      <!--</form>-->



      <div class ="text align-items-center w-150 h-150">
        <div class ="container">
          <div class ="text-center pb-5 mb-5 ">
            <h3>HENNSHUU</h3>
          </div>
        </div>
      </div>


      <div class ="text mt-5 pt-5 ">
        <div class "container ">

          <%= form_with model: @list do |f| %>
            <div class ="row ">
              <label class="col-sm-3">駐車場(有無)</label>
                <div class="col-sm-5">
                  enum記載
                </div>
            </div>

              </br>

            <div class ="row">
              <label class="col-sm-3">支払い方</br>(１現金２クレジット３電子マネー４クレジット)</label>
                <div class="col-sm-5">
                   enum記載
                </div>
            </div>


              </br>

            <div class ="row">
              <label class="col-sm-3">シャンプーコンディショナー</label>
                <div class="col-sm-5">
                   <%= f.text_field :toiletry, autofocus: true, class: "form-control " %>
                </div>
            </div>

              </br>

            <div class ="row">
              <label class="col-sm-3">タオル(有無)</label>
                <div class="col-sm-5">
                   enum記載
                </div>
            </div>


              </br>

            <div class ="row">
              <label class="col-sm-3">化粧水/メイク落とし</label>
                <div class="col-sm-5">
                   <%= f.text_field :skin_product, autofocus: true, class: "form-control " %>
                </div>
            </div>


              </br>

            <div class ="row">
              <label class="col-sm-3">ドライヤー(有無/風量)</label>
                <div class="col-sm-5">
                   <%= f.text_field :hairdryer, autofocus: true, class: "form-control " %>
                </div>
            </div>


              </br>

            <div class ="row">
              <label class="col-sm-3"> 荷物の預け方</label>
                <div class="col-sm-5">
                   <%= f.text_field :luggage, autofocus: true, class: "form-control " %>
                </div>
            </div>


              </br>

            <div class ="row">
              <label class="col-sm-3"><%#= image_tag @list.get_image(200,200),class: "pb-5 " %></label>
                <div class="col-sm-5">
                   <%#= f.file_field :image, accept: "image/*" %>
                </div>
            </div>

              </br>

            <div class="form-group form-group-lg pb-5 pt-3">
                <%= f.submit '投稿',class: "btn  btn-outline-secondary " %>
            </div>
          <%end%>
        </div>
      </div>





      <!--<div class ="photo mt-5 pt-5">-->
      <!--  <div class="container ">-->
      <!--    <div class ="pl-3">-->
      <!--      <%#= form_with model: @customer do |f| %>-->
      <!--        <div class="form-group form-group-lg">-->
      <!--          <%#= image_tag @customer.get_image(200,200),class: "pb-5 " %>-->
      <!--        </div>-->
      <!--        <div class="form-group form-group-lg">-->
      <!--         <%#= f.file_field :image, accept: "image/*" %>-->
      <!--        </div>-->
      <!--        <div class="form-group form-group-lg pb-5 pt-3">-->
      <!--          <%#= f.submit '画像投稿',class: "btn  btn-outline-secondary " %>-->
      <!--        </div>-->
      <!--      <%#end%>-->
      <!--      </div>-->
      <!--    </div>-->
      <!--  </div>-->








    </body>