<div class ="container mt-3">
    <div class="group">
        
          <div class ="formgroup">
             <%= @post.customer.name%>


              <p><%= @post.address %></p>
              <!-- Googleマップ表示エリア(地図を表示) -->
              <div id="map"></div>

              <!-- Googleマップ表示用の Javascript -->
              <script>

                function initMap(){
                  // 地図の位置情報(緯度・経度)を取得
                  let mapPosition = {lat: <%= @post.latitude || 0 %> , lng: <%= @post.longitude || 0 %> };
                  let map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: mapPosition
                  });
                  let transitLayer = new google.maps.TransitLayer();
                  transitLayer.setMap(map);

                  let contentString = '【住所】<%= @post.address %>';
                  let infowindow = new google.maps.InfoWindow({
                    content: contentString
                  });

                  let marker = new google.maps.Marker({
                    position: mapPosition,
                    map: map,
                    title: contentString
                  });

                  marker.addListener('click', function(){
                    infowindow.open(map, marker);
                  });
                }
                </script>

                <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>


              <%= image_tag @post.get_image(200,200),class: "pb-5 " %>

              <!--温泉名-->
              <!--<%= @post.onsen_name %>-->
              <!--駐車場-->
              <!--<%= @post.parking_i18n %>-->
              <!--支払い方-->
              <!--<%= @post.payment_i18n %>-->
              <!--シャンプー/コンディショナー-->
              <!--<%= @post.toiletry %>-->
              <!--タオル有無-->
              <!--<%= @post.towel_stock_i18n %>-->
              <!--化粧水/メイク落とし-->
              <!--<%= @post.skin_product %>-->
              <!--ドライヤー(有無/風量)-->
              <!--<%= @post.skin_product %>-->
              <!--荷物の預け方-->
              <!--<%= @post.skin_product %>-->

          </div>
    </div>