<!doctype html>
<html lang="ja">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--jpn.css-->
    <link rel="stylesheet" href="https://unpkg.com/jpncss@latest/dist/bootstrap/jpn.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>ONSEN</title>
</head>



<header>
    <div class="container mt-4 pt-4">
      <div class="justify-content-center pt-1">
        <%= image_tag 'kanjionsen.png', width: '20%', height: '20%' %>

         <% if customer_signed_in? %>
          <nav class="navbar navbar-expand-sm navbar-light mt-4 float-right ">
              <ul class="navbar-nav">
                <li class="nav-item active pr-4">
                  <%=link_to "マイページ",root_path, class: 'text-dark'  %>
                </li>
                <li class="nav-item active pr-4 pl-5">
                  <%=link_to "投稿一覧",posts_path, class: 'text-dark'  %>
                </li>
                <li class="nav-item active pr-4 pl-5">
                   <%=link_to "投稿/編集",customer_path(current_customer), class: 'text-dark'  %>
                </li>
                <li class="nav-item active  pl-5">
                  <%=link_to "ログアウト",destroy_customer_session_path, class: 'text-dark', method: :delete %>
                </li>
              </ul>
             </nav>

          <% else %>
            <nav class="navbar navbar-expand-sm navbar-light mt-4 float-right ">
              <ul class="navbar-nav">
                <li class="nav-item active pr-4">
                  <%=link_to "サインアップ",new_customer_registration_path, class: 'text-dark'  %>
                </li>
                <li class="nav-item active pr-4 pl-5">
                  <%= link_to "ログイン", new_customer_session_path ,class: 'text-dark'  %>
                </li>
                <li class="nav-item active  pl-5">
                  <%= link_to "ONSENついて", new_customer_session_path,class: 'text-dark'  %>
                </li>
              </ul>
             </nav>
          <% end %>
      </div>
    </div>
</header>


